body {
  color: #666;
  font-size: 12px;
}
body, input, textarea, select { font-family: Arial, Helvetica, sans-serif; }
h1,
.flickr {
  font-family: Verdana, sans-serif;
  color: #0063DC;
}

h1 .pink,
.flickr .pink {
  color: #FF0084;
}

img { border: 0;}
#image {
  margin-top: 1em;
  border-top: 3px dashed #CCC;
  padding-top: 10px;
}

#website {
  width: 50em;
  margin: 0 auto;
}

#website .screenshot {
  text-align: center;
  background: #FFE;
  margin: 1em 0;
  padding: 1em 0;
}
